/* css do home */

*{
    margin: 0;
    padding: 0;
   
}



body{
    background-color: rgba(0, 0, 0, 0.50);
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url(assets/curvy-narrow-muddy-road-dark-forest-surrounded-by-greenery-little-light-coming-from.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    



}

.sidebar{
    background-color: #011C27;
    padding: 2% -5% 0% 15% ;
    gap: 3px;
    padding: 2%;
    display: flex;
    flex-direction:row;

 
}

nav ul li a{
    padding: 2%;
    text-decoration: none;
    list-style: none;
    color: #FECEE9;
}

ul{

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-end;
    gap: 5%;
    font-size: 18px;
    margin-top: 1rem;
    padding-left: 55%;
    
}

li{
    font-size: 20px;
    list-style: none;
    
    
}

.logomenor{
  height: 60px;
  display: block;

}


/* Estilos do Slide */


.container{
    background-color: #011C27;

}


.carrosel-container {
    margin: 0; /* Remove margens */
    padding: 0; /* Remove paddings */
    box-sizing: border-box;
    position: relative;
    max-width: 100%;

}

.slides {
    display: flex;
    overflow: hidden;
}

.slides img {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block; 
    margin: 0;

}


button:hover {
    background-color: #FECEE9;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:#870058;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}


.prev {
    left: 0;
}

.next {
    right: 0;
}


/* sobre */



.sobre{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap ;
    background-color: rgba(1, 28, 39, 0.80);
    

   

}


h1{
    margin-top: 15%;
    max-height:  800px;
    margin-bottom: 5%;
    margin-left: 10%;
    position: relative;
    font-size: 34px;
    color: #C2E812;
}

.informações{

    text-align: justify;
    font-size: 24px;
    margin-top: 5%;
    margin-left: 10%;
    color:  #FECEE9;
    
    
}


.fundadora{
    display: flex;
    max-height: 750px;


    
    

}



/* Acervo*/

.acervo{

    font-size: 40px;
    color: #C2E812 ;
}

.acervo-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(194, 232, 18, 0.80);
    position: relative;
    padding: 40px;
}

.acervo-cards{
    display: flex;
    gap: 15px;
    transition: transform 0.6s ease;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.card{
    position: relative;
    margin-left: 13px;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0. 0. 0.3) ;
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: grayscale(100%);
}

.autores-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0. 0. 0.4);
}

.autores-card h2{
    margin-top: 85%;
    font-size: 18px;
    color:#d0ff00;
}

.autores-card strong{
    margin-bottom: 10%;
    font-size: 15px;
    color:#FECEE9;
}

.card:hover img{
    filter: grayscale(-50%);
}

/* Reservas */
.container-reservas{
    display:flex;
    flex-direction:column;
    position: relative;
    padding: 15px;


}

.reservasbutton {
    align-items: center;
    font-size: 35px;
    display: flex;
    justify-content: column-reverse;
    position: relative;
    margin-top: 8%;
    margin-left: 40%;
    width: 500px;
    height: 90px;
    padding: 1.6rem;
    border-radius: 25px;
    background-color: #870058;
    

    
}

.teste{
    color:#d0ff00;
    margin-left: 30%;
   
   
}

.informações_reservas{
    text-align: justify;
    font-size: 24px;
    margin-left: 10%;
    color: #011C27;
    
}

/* Planner */

.planer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap ;
    
}

.botaoplanner{
    display: flex;
    justify-content:column;
    flex-direction: row;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
    
}

.texto{
    font-size: 24px;
    margin-left: 10%;
    text-align: left;
    color: #FECEE9;
}
strong{
    font-size: 24px;
    color:#d0ff00;
}

.link_planner{
    display: flex;
    max-width: 500px;
    position: relative;
}

/* Termos */

.informações_termos{
    text-align: justify;
    font-size: 24px;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
    color:#FECEE9;
    
}

 ol{
    list-style-type: square;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 6%;   
    color:#C2E812;
 }

 .termo{

    padding: 0.50%;

 }
.termos{
    list-style-type: lower-alpha;
    flex-direction:column;
    font-size: 24px;
    padding: 6px;
    margin-left: 15%;
   

    
}


/* rodapé */

footer{

    padding: 25px;
    background:#011C27 ;
    display: flex;
    gap: 2%;
    flex-direction:row;
    flex-wrap: nowrap ;
    

}


.instaicon{
    width: 60px;
    display: flex;
    align-items: center;
    
}

.desenvolvedora{
    font-size: 16px;
    font-weight: 700;
    color:#C2E812;
    text-align: center;
    margin-top: 1%;
    margin-left: 45%;

}

